<div class="hr-container">
  <h2>パスワードをお忘れですか？</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.submit "パスワードリセット用のURLを送信する", class: "btn" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
